.section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box; 
    background-color: #ffffff;
}
  
  
  /* 轮播图项 */
  .slide {
    width: 20%;
    height: 50%;
    float: left;
    overflow: hidden;
    position: relative;
  }
  
  /* 图片样式 */
  .slide .img {
    width: 100%;
    height: 95%;
    text-align: center;
  }

  .slide .img img{
    margin-top:5px;
    width: 48%;

  }

  .slide .cate{
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 90%;
    color:#666;
  }
  
  /* 分页样式 */
  .sec-pg2 {
    display: none; /* 初始隐藏第二页 */
  }

  

  .indicators {
    width: 100%;
    display: flex;
    justify-content: center; 
    padding-top:8px;
    
  }
  
  .indicator {
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: red;
  }